{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Custom Cake Order{% endblock %}

{% block content %}
    <style>
        .theme-inner-banner {
            background: url({{ config.custom_banner_image.url }}) no-repeat center;
            background-size: cover;
            background-attachment: fixed;
            position: relative;
            margin-bottom: 180px;
        }
    </style>
    <div class="theme-inner-banner">
        <div class="opacity">
            <div class="container">
                <h1>Custom Cake Order</h1>
                <ul>
                    <li>
                        <a href="{% url 'main:home' %}">Home</a>
                    </li>
                    <li>/</li>
                    <li>Custom Cake Order</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="delicious-food-section">
        <div class="container">
            <div class="theme-section-title text-center">
                <h2>Custom Cake Order</h2>
                <p>
                    Order a customly hand-crafted cake for any special event you may have! Please fully complete the
                    order form below and be
                    as specific as possible to ensure a full complete description of your desired cake. Expect a phone
                    call or
                    e-mail for further elaboration and/or confirmation. You can view our past custom cakes on our
                    gallery
                </p>
                <br/>
                <br/>
                <a href="{% url 'custom-cake:list' %}">Gallery</a>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Build Your Custom Cake</h2>
        <br/>
        <form method="post">
            <div class="col-sm-6">
                <h4>Cake Information</h4>
                <br/>
{#                {{ cake_form|crispy }}#}
                {{ ok|crispy }}
            </div>
            <div class="col-sm-6">
                <h4>Order & Contact Information</h4>
                <br/>
                {{ order_form|crispy }}
            </div>
            {% csrf_token %}
            <p>
                <input type="submit" value="Place Custom Cake Order">
            </p>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script type='text/javascript'
            src='{% static 'vendor/Camera-master/scripts/jquery.mobile.customized.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'vendor/Camera-master/scripts/jquery.easing.1.3.js' %}'></script>
    <script type='text/javascript' src='{% static 'vendor/Camera-master/scripts/camera.min.js' %}'></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-mega-menu/js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/Rythm-js/rythm.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/WOW-master/dist/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
{% endblock %}