{% extends "base.html" %}
{% load staticfiles %}
{% load to_list %}

{% block title %}Custom Cakes{% endblock %}

{% block content %}
    <style>
        .theme-inner-banner {
            background: url({{ config.banner_image.url }}) no-repeat center;
            background-size: cover;
            background-attachment: fixed;
            position: relative;
            margin-bottom: 180px;
        }
    </style>
    <div class="theme-inner-banner">
        <div class="opacity">
            <div class="container">
                <h1>Custom Cakes</h1>
                <ul>
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li>/</li>
                    <li>Custom Cakes</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="delicious-food-section">
        <div class="container">
            <div class="theme-section-title text-center">
                <h2>Custom Cake Gallery</h2>
                <p>
                    Order a custom cake through our website specific to
                    your needs. We can make it from scratch and have it ready
                    in time for your special event!
                </p>
                <br/><br/><br/>
                <a href="{% url 'order:custom' %}">Build</a>
            </div>
        </div>
    </div>

    <div class="our-portfolio inner-page">
        <div class="container">
            <div class="mixitUp-menu">
                <ul>
                    <li class="filter active tran3s" data-filter="all">All</li>
                    <li class="filter tran3s" data-filter=".cake">Cake</li>
                    <li class="filter tran3s" data-filter=".bread">Bread</li>
                    <li class="filter tran3s" data-filter=".chocolate">Chocolate</li>
                    <li class="filter tran3s" data-filter=".butter">Butter</li>
                    <li class="filter tran3s" data-filter=".sweet">Sweet</li>
                </ul>
            </div>
        </div>
        <div class="portfolio-box-style">
            <div class="row">
                <div class="clearfix" id="mixitUp-item">
                    {% for cake in cakes %}
                        <div class="col-md-3 col-sm-4 col-xs-6 mix {{ cake.mixitup|to_list|lower }}">
                            <div class="single-portfolio-item">
                                <div class="image-box">
                                    <a href="{% url 'custom-cake:detail' cake.id %}">
                                        <img src="{{ cake.image.url }}" alt="">
                                        <div class="opacity"></div>
                                    </a>
                                </div>
                                <div class="text">
                                    <h5><a href="{% url 'custom-cake:detail' cake.id %}"
                                           class="tran3s">{{ cake.name }}</a></h5>
                                    <p>{{ cake.small_description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script type='text/javascript'
            src='{% static 'vendor/Camera-master/scripts/jquery.mobile.customized.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'vendor/Camera-master/scripts/jquery.easing.1.3.js' %}'></script>
    <script type='text/javascript' src='{% static 'vendor/Camera-master/scripts/camera.min.js' %}'></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-mega-menu/js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/Rythm-js/rythm.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/WOW-master/dist/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery.mixitup.min.js' %}"></script>
{% endblock %}




