{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="ut8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Flower Flour</title>
    <link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/fav-icon/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
</head>
<body>
<div class="main-page-wrapper">

    {% include 'navigation.html' %}

    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}

    <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>

    {% block javascript %}
    {% endblock %}
</div>
</body>
</html>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-124325101-1');
</script>